.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.both-rows {
  position: absolute;
  top: 25%;
}
.App-link {
  color: #61dafb;
}
.second-row {
  margin-top: 50px;
}
.weather-card {
  width: 90%;
  cursor: pointer;
}
.ant-card {
  display: block;
  margin: auto !important;
}
.ant-card-body {
  padding: 0;
}
.line-seperation {
  margin: 0;
  padding: 0;
  size: 5px;
  background-color: black;
}
.weather-image {
  height: 100px;
}
.small-weather-icon {
  font-size: 30px;
  float: left;
  color: black;
  margin-left: 18%;
}
.bottom-of-card {
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;

  margin-right: 10%;
  text-align: center;
}
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}
.vl {
  border-left: 3px solid black;
  height: 100%;
}
.temperature {
  font-size: xx-large;
  text-align: center;
  padding-top: 15%;
  margin: auto;
}
.image-section {
  height: 100%;
  width: 100%;
  background-color: #87cefa;
}
.day_to_day_image {
  font-size: 100px;
}
